#to_do_input{
    border: none;
}

#to_do_input:focus{
    outline: none;
}
#to_do_input::placeholder{
    font-size: 25px;
    opacity: 40%;
}
#to_do_item{
    border: none;
}

#to_do_checkbox{

}
.to_do_item{
    /*cursor: pointer;*/
}
.to_do_item:disabled{
    background-color: white;
    border: none;
}

.noteditiable{
    opacity: 50%;
    text-decoration: line-through;
}

.edititem{
    width: 95%;
    border: 1px solid #eeeeee;
    padding: 10px;
}
